


out

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

server_primary/.idea/workspace.xml
server_primary/.idea/tasks.xml
server_primary/.idea/dataSources.local.xml
server_primary/.idea/dataSources.local.ids
server_primary/.idea/dataSources.xml

client_desktop/.idea/workspace.xml
client_desktop/.idea/tasks.xml
client_desktop/.idea/dataSources.local.xml
client_desktop/.idea/dataSources.local.ids
client_desktop/.idea/dataSources.xml

client_desktop/gpix

server_primary/web/META-INF/context.xml
